body{
    background-image: url("../images/background-foods-v4.png");
    background-color: #511415;
    background-attachment: fixed;
    
}

.square_top {
    background-color: #fff;
    width: 110px;
    height: 110px;
    margin-left: 550px;
    margin-right: 50%;
    margin-top: -50px;
    transform: translateX(50%) rotate(45deg);

}

.img_top{
    margin-top: 50px;
    text-align: center;
}

.img_top > img{
    width: 150px;
    height: 150px;
}

.bold_top{
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

.text_top{
    margin-top: 1%;
    color: #fff;
    font-size: 25px;
    text-align: center;
}
/*--------------------------Main-------------------------------------------*/
.container{
    background-color: #fff;
    margin: 5% 15% 5% 15%;
    padding: 3%;
    border-radius: 15px; 
    /* trocou pra 15 de 14 */
}

.img_perfil > img{
    width: 80px;
    height: 80px;
    float: left;
}

.text_main{
    font-size: 25px;
    margin-top: 1%;
    letter-spacing: 1px;
}
.bold_exp{
    font-weight: bold;
    font-size: 30px;
}
.lista_exp{
    font-size: 25px;
}

.fotos_paes{
    display: grid;
    grid-template-columns: auto auto;
}

.fotos_paes img {
    border-radius: 8px;
    filter: grayscale(1);
    width: 408px;
    height: 200px;
    object-fit: cover;
    margin-right: 18px;
    margin-top: 4px;
  }
  
  .fotos_paes img:hover {
    filter: none;
  }
  
  .contato_text{
    font-size: 25px;
    margin-top: 1%;
    letter-spacing: 1px;
  }
  .habilidades progress {
    accent-color: #2e2d4c;
  }
  
